main {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  border: 1px solid black;
  padding: 20px;
  background-color: violet;
  background: #932a9b;
  background: linear-gradient(
    90deg,
    rgba(147, 42, 155, 1) 0%,
    rgba(161, 69, 144, 1) 68%,
    rgba(255, 229, 0, 1) 100%
  );
}

div {
  border: 1px solid black;
  background-color: rgb(255, 214, 65);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

div:nth-of-type(6) {
  grid-column: 1 / span 6;
  background-color: rgb(65, 194, 255);
}

div:nth-of-type(7) {
  grid-column: 6;
  grid-row: 1;
}
div:nth-of-type(8) {
  grid-column: 7 / span 2;
  grid-row: 1;
  background-color: tomato;
}

div:nth-of-type(9) {
  grid-column: 9;
  grid-row: 1 / span 2;
  background-color: turquoise;
}

div:nth-of-type(10) {
  grid-column: 10;
  grid-row: 1;
}

div:nth-of-type(12) {
  grid-column: 1 / span 6;
  grid-row: 3;
  background-color: rgb(65, 194, 255);
}

div:nth-of-type(16) {
  grid-column: 8 / span 2;
  grid-row: 3;
  background-color: tomato;
}

div:nth-of-type(18) {
  grid-column: 5 / span 6;
  grid-row: 4 / span 2;
  background-color: rgb(12, 133, 97);
}

div:nth-of-type(24) {
  grid-column: 2 / span 2;
  grid-row: 5;
  background-color: tomato;
}

div:nth-of-type(27) {
  grid-column: 2;
  grid-row: 6 / span 2;
  background-color: turquoise;
}

div:nth-of-type(30) {
  grid-column: 5 / span 6;
  grid-row: 6;
  background-color: rgb(65, 194, 255);
}

div:nth-of-type(32) {
  grid-column: 3 / span 2;
  grid-row: 7;
  background-color: tomato;
}
