main.grid_ej_6 {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 200px);
  gap: 1px;
}

main.grid_ej_7 {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 200px);
  gap: 1px;
}

main.grid_ej_8 {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 200px);
  gap: 1px;
}

div {
  background-color: rgb(3, 47, 69);
  color: white;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

main.grid_ej_7 div:first-of-type {
  grid-column: 1 / 4;
}

main.grid_ej_8 div:first-of-type {
  grid-column: 1 / 4;
}

main.grid_ej_8 div:nth-child(2) {
  grid-row: 2 / 4;
}
