main {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 200px);
  gap: 1px;
}

div {
  background-color: rgb(3, 47, 69);
  color: white;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
