body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
}
main {
  border: 4px solid red;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-content: flex-start;
}
div {
  flex: 0 1 33.3333%;
  height: 25%;
  text-align: center;
  color: white;
}
div:first-of-type {
  background-color: mediumseagreen;
}
div:nth-of-type(2) {
  background-color: rgb(40, 143, 227);
}

div:nth-of-type(3) {
  background-color: rgb(154, 71, 255);
}

div:nth-of-type(4) {
  background-color: rgb(16, 53, 34);
}

div:nth-of-type(5) {
  background-color: rgb(255, 203, 71);
}

div:nth-of-type(6) {
  background-color: rgb(228, 132, 36);
}

div:nth-of-type(7) {
  background-color: tomato;
}

div:nth-of-type(8) {
  background-color: gray;
}

div:nth-of-type(9) {
  background-color: rgb(71, 255, 166);
}
div:last-of-type {
  background-color: rgb(50, 84, 63);
}
