h3 {
  border: 1px solid black;
}
section.ejercicio_1 div.contenedor_1 {
  border: 1px solid black;
  background-color: lightgrey;
  padding: 20px;
}
section.ejercicio_1 div.contenedor_1::after {
  content: "";
  display: block;
  clear: both;
}

section.ejercicio_1 div.contenedor_1 p:first-of-type {
  float: left;
  font-weight: bold;
}

section.ejercicio_1 div.contenedor_1 p:last-of-type {
  float: right;
  font-weight: bold;
}
